body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.main-container {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.visual-section {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.visual-section h2 {
    margin-bottom: 20px;
}

.visual-section p {
    margin-bottom: 20px;
}

.chart-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding-top: 40px; /* Add padding at the top */
    padding-bottom: 20px; /* Add padding at the bottom */
    box-sizing: border-box; 
}

/* Specific Chart Container Sizes */
.choropleth {
    width: 1000px;
    height: 600px;
    align-items: center; 
    padding-top: 70px;
    padding-left: 30px;
}

.top10 {
    width: 700px;
    height: 600px;
    padding-top: 60px;
}
.top10-comparison {
    display: flex;
    justify-content: space-between; /* Space between description and chart */
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 20px; /* Space below the comparison section */
}

.top10-description {
    width: 30%; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
    margin-top: 200px;
}

.top10-chart-container {
    width: 65%; /* Adjust width as needed */
}


.selected-country {
    width: 500px;
    height: 400px;
}

.horizontal-bar {
    width: 700px;
    height: 600px;
    padding-top: 80px;
}

.horizontal-bar-comparison {
    display: flex;
    justify-content: space-between; /* Space between chart and description */
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 20px; /* Space below the comparison section */
}

.horizontal-bar-chart-container {
    width: 65%; /* Adjust width as needed */
}

.horizontal-bar-description {
    width: 30%; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
    margin-top: 200px;
    margin-left: 100px;
}


.word-cloud {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    align-items: center; 
}

/* Styles for Combined Boxplot */
.combined-boxplot {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* General Styles */
.serif {
    font-family: 'Times New Roman', serif; 
}
