body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.main-container {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.page-header {
    text-align: center;
    margin-bottom: 40px;
}

.page-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

.page-description{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: left;
    font-size: 16px;
}

.visual-section {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.visual-section h2 {
    margin-bottom: 20px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.visual-section p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
}

.chart-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding-top: 40px; /* Add padding at the top */
    padding-bottom: 20px; /* Add padding at the bottom */
    box-sizing: border-box; 
}

/* Specific Chart Container Sizes */
.choropleth {
    width: 1000px;
    height: 600px;
    align-items: center; 
    padding-top: 70px;
    padding-left: 30px;
}

.map-description{
    text-align: left;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
}

.map-note{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font:bold;
    color: red;
}

.top10 {
    width: 650px;
    height: 600px;
    padding-top: 60px;
}
.top10-comparison {
    display: flex;
    justify-content: space-between; /* Space between description and chart */
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 20px; /* Space below the comparison section */
}

.top10-description {
    width: 30%; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
    margin-top: 120px;
    font-family: Verdana, Tahoma, sans-serif;
}

.top10-chart-container {
    width: 65%; /* Adjust width as needed */
}


.horizontal-bar {
    width: 700px;
    height: 600px;
    padding-top: 80px;
}

.horizontal-bar-comparison {
    display: flex;
    justify-content: space-between; /* Space between chart and description */
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 20px; /* Space below the comparison section */
}

.horizontal-bar-chart-container {
    width: 65%; /* Adjust width as needed */
}

.horizontal-bar-description {
    width: 30%; /* Adjust width as needed */
    text-align: left; /* Align text to the left */
    margin-top: 150px;
    margin-left: 100px;
    font-family: Verdana, Tahoma, sans-serif;
}

.pie-description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.source {
    width: 100%;
    text-align: left;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.source-text {
    margin-bottom: 0px;
    font-style: italic;
}