body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.main-container {
    max-width: 1200px; /* Restrict the page width to 900px to avoid horizontal scrolling */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    text-align: center;
    margin-bottom: 30px;
}

.visual-section {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.visual-section h2 {
    margin-bottom: 10px;
}

.visual-section p {
    margin-bottom: 20px;
}

.chart-container {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding-top: 20px; /* Add padding at the top */
    padding-bottom: 20px; /* Add padding at the bottom */
    box-sizing: border-box; 
}

/* Specific Chart Container Sizes */
.choropleth {
    width: 1000px;
    height: 600px;
}

.combined-boxplot {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.top10 {
    width: 800px;
    height: 600px;
}

.selected-country {
    width: 400px;
    height: 600px;
}

.horizontal-bar {
    width: 900px;
    height: 500px;
}

.word-cloud {
	padding-left: 50px;
	padding-top: 100px;
    width: 900px;
    height: 500px;
}
